<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.curd_study.mapper.VoucherMapper">

    <select id="selectById" resultType="Voucher">
        select
            id,
            coupon_name,
            stock,
            create_time,
            update_time,
            start_time,
            end_time
        from tb_coupon
        where id = #{id}
    </select>
    <delete id="deleteById">
    delete from tb_coupon where id=#{id}
    </delete>
    <insert id="insert" parameterType="Voucher" useGeneratedKeys="true" keyProperty="id">
        insert into tb_coupon(
                              stock,
                              coupon_name,
                              create_time,
                              update_time,
                              start_time,
                              end_time
        ) values (

                             #{stock},
                             #{couponName},
                             #{createTime},
                             #{updateTime},
                             #{startTime},
                             #{endTime}
                         )
    </insert>
    <update id="update" parameterType="Voucher">
        update tb_coupon
        <!-- <set> 标签自动处理末尾多余的逗号 -->
        <set>
            <if test="couponName != null and couponName != ''">
                coupon_name = #{couponName},
            </if>
            <if test="stock != null">
                stock = #{stock},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime}
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>